<main>
    <section>
        <h2>Inputs to the agent</h2>
        <dl>
            <dt>Goals</dt>
            <dd>Grow Healthy Plants</dd>
            <dt>Ability</dt>
            <dd>Water Plants, Administer Nutrient, Determine Level of Illumination, Determine plant height, determine
                plant
                leave size, determine plant leave color.</dd>
            <dt>Prior Knowledge</dt>
            <dd>Identify different Plant Species, What a matured Plant Looks like, what a malnourished plant looks like.
            </dd>
            <dt> Sensors/Stimuli</dt>
            <dd> Light Meter,Thermometer, Garden Soil Moisture Meter, Acidity/pH Level Tester, Humidity Sensors</dd>
            <dt>Past Experience</dt>
            <dd>Effect of Pests, Effect of Excess/lack of water, effect of excess/lack of sunlight, effect/lack ofexcess
                fertilizer.</dd>
        </dl>
    </section>
    <section>
        <h2>Task Environment</h2>
        <dl>
            <dt>Performance Measure</dt>
            <dd>Grow high quality plants, efficient utilization of resources (water, fertilizer)</dd>
            <dt>Environment</dt>
            <dd>Indoor Garden, Plant in Vase</dd>
            <dt>Actuators</dt>
            <dd>Water Spray, Light Emitting Diode (LED), Fertilizer Spray, Temperature Control (Air Conditioner/Heater)
            </dd>
            <dt>Stimuli</dt>
            <dd>Light Meter,Thermometer, Garden Soil Moisture Meter, Acidity/pH Level Tester, Humidity Sensors.</dd>
        </dl>
    </section>
    <section>
        <h2> Agent Structure</h2>
        <h3>Percepts</h3>
        <p>Species, Soil pH Level, Soil Moisture Level, Sorrounding Temperature, Level of Illumination.</p>
        <h3>Commands</h3>
        <p>Spray Water, Increase/Decrease Illumination, Apply Fertilizer, Increase/Decrease Temperature.</p>
        <h3>Agent Program</h3>
        <p>Model-based Reflex Agent</p>
    </section>
    <section>
        <h2>Agent Environment</h2>
        <ul>
            <li><strong>Observable?:</strong> Partially</li>
            <li><strong>Deterministic?:</strong> Stochastic</li>
            <li><strong>Episodic?:</strong> Sequential</li>
            <li><strong>Static?:</strong> Dynamic</li>
            <li><strong>Discrete?:</strong> Continuous</li>
            <li><strong>Single?:</strong> Single</li>
        </ul>
    </section>
    <section class="resources">
        <h2>Resources</h2>
        <a href="https://www.researchgate.net/publication/316594452_A_cognitive_architecture_for_automatic_gardening"
            target="_blank">A Cognitive Architecture for Automatic Gardening</a>
        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3949401/" target="_blank">Artificial Light with Light
            Emmitting Diode</a>
        <a href="https://sustainablecampus.unimelb.edu.au/__data/assets/pdf_file/0005/2839190/Indoor-plant-workshop-Light-and-Moisture-Requirements.pdf"
            target="_blank">Light and Moisture requirements for Indoor palnts</a>
        <a href="https://greeneryunlimited.co/blogs/plant-care/how-to-measure-light-for-plants" target="_blank">How to
            measure Light for Plants</a>
        <a href="https://patuxentnursery.com/blog/keep-potted-plants-alive/" target="_blank">How to care for Potted
            Plants</a>
    </section>
</main>