<main>
    <article>
        <h2>Keys</h2>

        <h3>Light Level</h3>
        <ul>
            <li>Low - range 270 to 807 Lux</li>
            <li>Medium - range 807 to 1614 Lux</li>
            <li>High - range 1614 to 10764 Lux</li>
        </ul>

        <h3>Water Requirement</h3>
        <ul>
            <li>Dry - Does not need very much water and can stand low humidity.</li>
            <li>Moist - Requires a moderate amount of water and loves some humidity in the atmosphere</li>
            <li>Wet - Usually requires more water than other plants and must have high humidity surroundings.</li>
        </ul>

        <h3>Fertility</h3>
        <ul>
            <li>Low - No allication in winter or during dormant periods</li>
            <li>Medium - Apply every other month during winter and every motnh during Spring and Summer.</li>
            <li>High - Apply every month during winter and twice each month during the Spring and Summer.</li>
        </ul>
    </article>
</main>